.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    width: 50%;
    max-width: 95%;
}
.col_4 {
    grid-column: span 6;
  }